:root {
  /* CSS HEX */
  --ash-gray: #ccdad1ff;
  --ash-gray-2: #9caea9ff;
  --battleship-gray: #788585ff;
  --dim-gray: #6f6866ff;
  --van-dyke: #38302eff;
  --textdark: #001845;
}

body {
  background-color: var(--ash-gray);
  color: var(--textdark);
  font-family: "Bitter", serif;
  font-size: 2vw;
  padding: 10%;
}

/* Larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  body {
    background-color: var(--battleship-gray);
  }
}

/* High-resolution screens (hi-res laptops and desktops) */
@media (min-width: 1281px) {
  body {
    background-color: var(--ash-gray-2);
  }
}

h1,
h2,
p,
a,
div {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1%;
}

a {
  color: hotpink;
}

/* Larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  a {
    color: rgb(98, 25, 172);
  }
}

/* High-resolution screens (hi-res laptops and desktops) */
@media (min-width: 1281px) {
  a {
    color: aqua;
  }
}

a:hover {
  opacity: 0.3;
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile-picture {
  border-radius: 10%;
  max-width: 20%;
  background-size: contain;
}

#linkedinlogo {
  display: block;
  max-width: 50%;
  height: auto;
}

#instagramlogo {
  display: block;
  max-width: 50%;
  height: auto;
}

#navigation {
  position: fixed;
  top: 0;
  background-color: var(--ash-gray);
  width: 100%;
}
/* Larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  #navigation {
    background-color: var(--battleship-gray);
  }
}

/* High-resolution screens (hi-res laptops and desktops) */
@media (min-width: 1281px) {
  #navigation {
    background-color: var(--ash-gray-2);
  }
}

#navigation ul {
  display: flex;
  gap: 4em;
  list-style: none;
}

#name {
  font-family: "Dancing Script", cursive;
}

/* Larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  #name {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

/* High-resolution screens (hi-res laptops and desktops) */
@media (min-width: 1281px) {
  #name {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

#about {
  text-align: left;
  scroll-margin-top: 2em;
}
#about-content {
  text-align: left;
  min-width: 50%;
}
.about-container {
  max-width: 100%;
  outline-style: solid;
}

#experience {
  scroll-margin-top: 3em;
}

.experience-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

/* Larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  .experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
}

/* High-resolution screens (hi-res laptops and desktops) */
@media (min-width: 1281px) {
  .experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
  }
}

.ex-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
}

.ex-part {
  display: flex;
  flex-direction: column;
}

#skills {
  padding-top: 2em;
  scroll-margin-top: 3em;
}
#projects {
  scroll-margin-top: 3em;
}

#connect {
  scroll-margin-top: 3em;
}

.connect-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.connect-container img {
  max-width: 25%;
  max-height: 25%;
}
